<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= a %> 
    <p><%- "or you can download from" %> <a href="<%= b %>">this link</a></p>
</body>
</html>
